/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/* Variaveis de ambiente */ /*Indentidade Visual*/
:root{
    --font: 'Roboto', sans-serif;
    --red: #c20000;
    --background: #062F4F;
}

/* Limpeza do ambiente e definições basicas*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
    font-family: var(--font);
}

/* Menu Superior - Header */
.header{
    width: 100%;
    height: 5em;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content-header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 5%;
}

.menu-left-header{
    width: 33%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagem-header{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-header img{
    width: 70%;
    max-width: 500px;
}

.menu-right-header{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-left-header a, .menu-right-header a{
    color: #EEEEEE;
    font-size: 1.3em;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    transition: 0.2s;
}

.menu-left-header a:hover, .menu-right-header a:hover{
    background-color: var(--red);
}

.search{
    width: 151px;
    height: 25px;
    background-color: #EEEEEE;
    border-radius: 10.5px;
    float: right;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#search-bnt{
    margin-right: 10px;
}

.search a{
    padding: 0px;
}

.search a:hover{
    background-color: #EEEEEE;
    border-radius: 10px;
}

/* Banner Principal - Main */
.banner{
    width: 100%;
    height: 28.12em;
    background-color: var(--background);
    position: relative;
}

.flex-banner{
    display: flex;
    justify-content: center;
}

.content-banner{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-banner{
    width: 50%;
    height: 235px;
    text-align: center;
    z-index: 10;
}

.text-banner h1{
    color: #ffffff;
    font-size: 72px;
    margin: 10px;
    text-transform: uppercase;
}

.text-banner h2{
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
}

.text-banner a{
    color: black;
    background-color: #FFCC13;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    top: 40px;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
}

.image-banner{
    width: 50%;
    height: 28.12em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.image-banner img{
    width: 88%;
}

.img-car-banner{
    position: absolute;
    top: 248px;
    z-index: 0;
}

/* Partidas Anteriores - Section */

.last{
    width: 100%;
    height: 8.5em;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-last{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-last{
    width: 13%;
}

.text-last h2{
    color: #B8B8B8;
    font-size: 18px;
}

.team-last{
    width: 186px;
    height: 98px;
    border: 1px solid white;
    background-color: #1D2731;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-team{
    width: 98%;
    height: 90%;
    display: flex;
    justify-content: space-between;

}

.team-image{
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.team-image img{
    width: 90%;
}

.team-image p{
    color: #cdcdcd;
    font-size: 16px;
}

.placar-team{
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.placar-team p{
    color: #CDCDCD;
}

.placar-team span{
    color: #CFCBCB;
    opacity: 50%;
    padding: 0 5px;
}

/* About - Section */

.about{
    width: 100%;
    height: 31.62em;
    background-color: var(--background);
}

.gambi-about{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-back0{
    position: absolute;
    top: 869px;
}

.about-back1{
    float: right;
    position: absolute;
    right: 0;
    top: 650px;
}

.content-about{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-about{
    width: 50%;
    z-index: 1;
}

.text-about{
    width: 50%;
    z-index: 1;
}

.text-about h2{
    color: white;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 10px;
}

.text-about p{
    color: white;
    font-size: 24px;
    width: 615px;
}

/* Partidas Ao vivo - Section */

.team-live{
    width: 186px;
    height: 98px;
    border: 1px solid white;
    background-color: #1D2731;
    position: relative;
}

.ao-vivo{
    border: 1px solid white;
    text-align: center;
    padding: 0 9px;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    position: absolute;
    bottom: 86px;
    left: 50px;
}   

.team-live-cards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

/* News - Section */
.news{
    width: 100%;
    height: 40.5em;
    background-color: var(--background);
    position: relative;
}

.gambi-news{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-news{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1;
}

.article-news{
    width: 638px;
    height: 17.06em;
    border: 1px solid black;
    background-color: #1D2731;
    margin-bottom: 28px;
    display: flex;
}

.image-news{
    width: 46.5%;
}

.image-news img{
    width: 92%;
    height: 100%;
    border-right: 1px solid black;
}

.image-news-2{
    margin-right: 25px;
    border-right: 1px solid black;
}

.image-news-2 img{
    width: 100.1%;
    height: 99.9%;
}

.text-news{
    width: 50%;
    color: #B8B8B8;
}

.text-news p:nth-child(1){
    font-size: 13px;
    margin-top: 5px;
}

.text-news p:nth-child(2){
    font-size: 18px;
    padding: 13px 0;
    color: #CDCDCD;
}

.text-news p:nth-child(3){
    width: 314px;
    font-size: 14px;
}

.data-name{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
}

.data-name ul{
    list-style-type: square;
}

.data-name p{
    font-size: 14px;
}

.data-name li{
    font-size: 14px;

}

.no-margin{
    margin-bottom: 0px;
}

.next-matches{
    width: 265px;
    height: 35.87em;
    border: 1px solid black;
    background-color: #1D2731;
}

.title-matches{
    border-bottom: 1px solid black;
    width: 100%;
    height: 61px;
    color: #B8B8B8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-matches{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.matches-matches{
    width: 90%;
    height: 67px;
    margin: 18px 0px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.matches-matches img{
    width: 23%;
}

.dia-hora{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dia-hora p{
    font-size: 12px;
    color: #B8B8B8;
}

.dia-hora p:nth-child(2){
    padding: 5px 0;
}

.news-back{
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45px;
    left: 700px;
}

/* Footer - Footer */
.footer{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-self: center;
}

.content-footer{
    width: 100%;
    height: 100%;
    margin: 10px 10%;
}

.superior-footer{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-uteis-footer{
    width: 30%;
}

.links-uteis-footer ul{
    list-style-type: none;
}

.links-uteis-footer h4{
    color: white;
    text-decoration: underline;
}

.links-uteis-footer a{
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.links-uteis-footer a:hover{
    text-decoration: underline;
}

.mapa-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapa-site-footer h4{
    color: white;
    padding: 5px;
    text-decoration: underline;
}

.mapa-site-footer ul{
    display: flex;
    list-style-type: none;
}

.mapa-site-footer a{
    color: white;
    margin: 10px;
    transition: 0.2s;
}

.mapa-site-footer a:hover{
    text-decoration: underline;
}

.social-medias-footer{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.social-medias-footer h4{
    color: white;
    padding: 7px;
    text-decoration: underline;
}

.redes-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-redes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-redes img{
    transition: 0.2s;
}

.links-redes img:hover{
    transform: scale(1.2);
}

.line-footer{
    width: 100%;
    border: 1px solid #cdcdcd;
    background-color: #cdcdcd;
    margin: 25px 0;
}

.inferior-footer{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer{
    width: 30%;
}

.logo-footer img{
    width: 100%;
    max-width: 250px;
    transition: 0.2s;
}

.logo-footer img:hover{
    transform: scale(1.1);
}

.direitos-footer{
    color: white;
}

.direitos-footer span:hover{
    color: var(--red);
}

.buttons-footer{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.buttons-footer ul{
    display: flex;
    list-style-type: none;
}

.buttons-footer a{
    color: white;
    padding: 10px;
}

.buttons-footer a:hover{
    text-decoration: underline;
}

